/*header*/


.headerStyle{
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.spacer{
    padding: 50px 0;
}
.linkStyle{
    color: #777777;
}
.innerHead{
    border-bottom: 2px solid #dddddd; 
    margin-bottom: 5px;
    color: #4aaaa5;
}
.port-link-head{
    margin: 0;
    padding: 8px 0 8px 0;
    width: 200px;
    height: 36px;
    font-size: 18px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 20px;
}
footer {
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
}

.footer-spacer, footer {
    margin: 100px 0 0 0;
    width: 100%;
    height: 50px;
    padding: 20px 0;
    border-top-width: 8px;
}
